

.component {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0px;
    margin: 10vh;
  }
  .card {
    border-radius: 4vh;
    padding: 1vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vh;
  }

 
  .card_img {
    width: 50vh;
    height: auto;
    border-radius: 4vh;
    
  }
  .card_title {
    margin-top: 10px;
    font-size: 3vh;
  }





  /* favourites css
   */

  .delete_btn:hover {
    background-color: red !important;
    color: #fff;
  }



  /* media query */

  @media (max-width: 750px) {
    .card {
      width: 50vh;
    }
  
   
    .card_img {
      width: 40vh; 
    }
    .card_title {
      font-size:3vh;
    }
  
  }