

.component {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    margin: 10vh;
  }
  .card {
    border-radius: 4vh;
    padding: 1vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vh;
  }

 
  .card_img {
    width: 50vh;
    height: auto;
    border-radius: 4vh;
    
  }
  .card_title {
    margin-top: 10px;
    font-size: 3vh;
    color: ;
  }
  